@{
    ViewBag.Title = "Home Page";
}
<div style="text-align:center;"><img src="~/Images/MCALOGO.png" /></div>
<div class="jumbotron">
    <h1>My Car Avalaible</h1>
    <p class="lead">Tu vehiculo donde y cuando quieras!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Play Video 
            <svg aria-hidden="false" aria-label="Reproducir vídeo" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="icon icon--video-play icon--svg">
                <path d="M768.968,353A8,8,0,1,0,777,361,8.019,8.019,0,0,0,768.968,353Zm-1.606,11.6v-7.2l4.819,3.6Z" transform="translate(-760.938 -353)"></path>
            </svg>
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <img style="width:295px; height:295px;" src="~/Images/tesla-model-s-autopilot-software-70.jpg" />
        <h2>Conducción </h2>
        <p>
            Poder conducir nuestro vehiculo real a traves de nuestro dispositivo mobil ya es posible gracias MyCarAval y esta disponible a tan solo un click!. 
            Ofrecemos el producto mas innovador para los mas atrevidos,

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Saber mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img style="width:295px; height:295px;" src="~/Images/find-my-drive-location-icon2.png" />
        <h2>Localización </h2>
        <p>Tienes un automobil, un dispositivo mobil y lo necesitas en cualquier momento allá donde te encuentres? nosotros ofrecemos este servicio, con
        todas las prestaciones disponibles y con el mayor rendimiento posible. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Saber mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img style="width:295px; height:295px;" src="~/Images/Car-Secure-512.png" />
        <h2>Seguridad</h2>
        <p>La principal caracteristica de nuestro servicio por el bien común y por lo que conlleva conducir un utilitario.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saber mas &raquo;</a></p>
    </div>
</div>